[Unit]
Description=youtube-archiver_playlists.service

[Service]
Type=oneshot
WorkingDirectory=%h/Disque500Go2/youtube-archiver
# WorkingDirectory=%h/Documents/youtube-archiver
ExecStart=%h/Disque500Go2/youtube-archiver/dl_playlists.sh
# ExecStart=%h/Documents/youtube-archiver/dl_playlists.sh
[Install]
WantedBy=multi-user.target
